body {
    background: #F2F1F2;
}

.container {
    background: #1A1B20;
}

.left-nav {
    background: #1A1B20;
}

.left-nav a {
    color: rgba(255, 255, 255, .7);
}

.left-nav a.active {
    background: #192e80 !important;
    color: #fff;
}

.left-nav a:hover {
    background: #192e80 !important;
    color: #fff;
}