<!doctype html>
<html class="x-admin-sm">

{% load static %}

<head>
    <meta charset="UTF-8">
    <title>系统登录</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme1.css' %}">

    <script src="{% static 'lib/layui/layui.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/xadmin.js' %}"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

</head>

<body class="login-bg">

    <div class="login layui-anim layui-anim-up">
        <div class="message">微博虚假新闻智能辅助检测系统</div>
        <div id="darkbannerwrap"></div>

        <form method="post" class="layui-form">
            <input name="username" placeholder="用户名" type="text" lay-verify="required" class="layui-input">
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码" type="password" class="layui-input">
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login1" style="width:100%;" type="submit">
            <hr class="hr20">
        </form>
    </div>

    <script>
        layui.use(['form'], function () {
            var form = layui.form;
            form.on('submit(login1)', function (data) {
                var userinfo = data.field;
                var username = userinfo['username'];
                var password = userinfo['password'];
                console.log(username);
                console.log(password);
                if (username == 'admin' && password == '123456') {
                    layer.msg('登录成功', {
                        offset: '15px'
                        , icon: 1
                        , time: 1000
                    }, function () {
                        location.href = '/index';
                    });
                }

                else {
                    layer.msg('用户名或密码错误', {
                        offset: '15px'
                        , icon: 2
                        , time: 1000
                    }, function () { });
                }
                return false;
            });
        })
    </script>
    
</body>

</html>
